.calendrier {
    font-family: Arial;
    font-size: 12px;
}
table.calendrier {
    margin: auto;
    border-collapse: collapse;
}
.calendrier .jours td {
    width: 80px;
    height: 80px;
    padding: 4px;
    border: 1px solid #999;
    vertical-align: top;
    background-color: #def;
    transition: background-color 0.3s;
}
.calendrier .jours td:hover {
    background-color: #FFF;
}
.calendrier .highlight {
    font-weight: bold;
    color: #00F;
}