header {
    height: 150px;
    background-image: url(../images/head.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
/* Titre du site */
header h1 {
    /* Texte */
    font-family: caviar_dreamsbold;
    color: #ffffff;
    font-size: 35px;
    /* Boîte */
    display: inline-block;
    background-color: #774D73;
    padding-right: 2em;
    padding-left: 30px;
    margin-left: -30px;
}
header h1::before {
    display: inline-block;
    position: relative;
    right: 30px;
    top: 45px;
    content: ".";
    color: transparent;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    margin-right: -20px;
    border-color: transparent #51314F transparent transparent;
}
nav {
    margin-top: -4px;
}
nav a {
    font-family: caviar_dreamsbold;
    text-align: center;
    color: #774D73;
    text-decoration: none;
    background-color: #faebf4;
    padding: 3px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #ddb8d8;
}
nav:hover a[href="#"] {
    background-color: #faebf4;
}
nav a[href="#"], nav a[href="#"]:hover {
    background-color: #ddb8d8;
}